*{
    margin: 0;
    padding: 0;
    list-style-type: none;
   text-decoration: none;
}


nav{
    width: 100%;
    height: 75px;
    display: flex;
 box-shadow: 0px 1px 10px black;
 
}
.left{
width: 500px;
display: flex;
margin-left: 20px;
align-items: center;


}
.right{
width: 100%;

}
.right li{
    display: flex;
    color: rgb(146, 94, 94);
    justify-content: center;
    align-items: center;
    height: 100%;
 
}
li ul{
margin-right: 100px;
cursor: pointer;
transition: all 400ms;
font-size: 20px;
font-family: sans-serif;
font-weight: 600;
color: black;
}
#head-span{
    color:blue;
}
.headh1{
    color: rgb(0, 0, 0);
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  cursor: pointer;
  transition: all 300ms;

}
.contentarea{
    width: 100%;
    height: 90vh;
    background-color: rgb(248, 240, 231);
    display: flex;
    
}
.left-main{
    width: 100vw;
    height: 90vh;
    color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-main{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.surname{
    color: orange;
}

.tra h1{
    font-size: 50px;
    color: black;
    font-family: "Basic";
    padding: 5px;
    cursor: pointer;
}
.extrainfo{
    color: black;
    font-size: 23px;
    cursor: pointer;
}
.xyz{
    color:darkred;
}
#tp-btn{
    margin: 20px;
    padding: 17px;
    width: 180px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(52, 52, 205);
    border: none;
    box-shadow: 3px 3px 15px blue;
    transition: all 100ms ;
    cursor: pointer;
}
#myimage{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transition: all 500ms;
}
#aboutme{
    width: 100vw;
    height: 60vh;
    background-color: rgb(154, 235, 235);

}
.bobthebuilder{
    display: flex;
}
.leftabout{
width: 50vw;
height: 90vh;
}
.rightabout{
width: 40vw;
}
.leftabout p{
    font-size: 25px;
    margin: 10px;
  cursor: pointer;

}
#aboutme h1{
    color: rgb(133, 66, 66);
    text-align: center;
    font-size: 50px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    
}
.rightabout h2{
    text-align: center;
    font-size: 40px;
    color: rgb(93, 36, 146);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: all 200ms;

}
.mineskills{
    display: flex;
    margin: 30px;
    width: 100%;
    height: 200px;
}
.skills-btn{
    padding: 30px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    box-shadow: 2px 2px 10px gray;
    color: white;
    font-size: 30px;
    transition: all 100ms ;
    font-family: "Jersey 10";
}
#hobbies{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    background-color: bisque;
}
#hobbies h1{
    transition: all 100ms ;
}
#hobbies p{
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
}
footer h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
footer h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: all 100ms ;
}
footer p{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.socialapps{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    border: none;
    background-color:black ;
    color: rgb(93, 204, 255);
    margin: 10px;
    transition: all 100ms ;
}


























/* Hover effects */
ul:hover{
    color: blue;
    scale: calc(1.3);
  
}
.headh1:hover{
    
color: rgb(255, 0, 0);
}
#myimage:hover{
    scale: calc(1.1);
}
#tp-btn:hover{
scale: calc(1.1);
}
.skills-btn:hover{
    scale: calc(1.1);
    color: rgb(15, 38, 213);
    background-color: bisque;
}
#hobbies h1:hover{
    scale: calc(1.1);
    color: rgb(135, 117, 12);
}
footer h1:hover{
    color: rgb(108, 82, 82);
}
footer h2:hover{
    transform: scale(1.1);
}
.socialapps:hover{
    scale: calc(1.1);
    background-color: rgb(96, 17, 17);
}
.rightabout h2:hover{
    transform: scale(1.2);
}
